.App {
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
}

.inverse-button {
  background-color: #fff;
  border: 1px solid blueviolet;
  color: blueviolet;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 30px;
  cursor: pointer;
}
.ok-button {
  background-color: blueviolet;
  border: 1px solid blueviolet;
  color: #fff;
  padding: 0 10px;
  border-radius: 30px;
  cursor: pointer;
}

.login-input {
  border-radius: 30px;
  border: 1px solid grey;
  margin: 0 10px;
  outline: none;
  padding: 0 10px;
}

.usuario.img {
  border-radius: 50%;
  min-width: 30px;
  height: 30px;
  background-color: blueviolet;
  color: #fff;
  text-align: center;
  vertical-align: center;
}

.tweetar {
  display: flex;
  width: 90%;
}
.tweetar input {
  border-radius: 30px;
  width: 50%;
  border: 1px solid grey;
  margin: 0 10px;
  outline: none;
  padding: 0 10px;
}
.tweets {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.tweets .tweet {
  display: flex;
  border-radius: 15px;
  background-color: #fff;
  padding: 8px;
  margin: 8px;
}
.tweets .tweet .mensagem {
  margin-left: 9px;
}
.tweets .tweet .mensagem h6 {
  font-size: 14px;
  margin-top: 9px;
  color: gray;
}
.tweets .tweet .mensagem h6 span {
  font-weight: bold;
  color: #000;
}
.tweets .tweet .mensagem p {
  font-size: 16px;
  margin: 0;
}