* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
html, body {
	background-color: #f1ebf0;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #d6dae0; 
}
::-webkit-scrollbar-thumb {
    background: #adb7c5; 
}
.header {
	display: flex;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(189,178,189,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(189,178,189,1);
	box-shadow: 0px 2px 5px 0px rgba(189,178,189,1);
	z-index: 999;
}
.header .options {
	display: flex;
	justify-content: center;
	flex: 1;
	align-items: center;
	background-color: #fff;
	padding: 10px;
}
.header .options .input-tweet {
	padding: 5px 15px;
	border-radius: 30px;
	width: 50%;
    border: 1px solid gray;
    outline: none;
}
.header .options .span-tweet {
	color: #fff;
	font-size: 10px;
	background-color: #b89dbf;
	border-radius: 3px;
	position: relative;
	padding: 1px 2px;
	top: 13px;
	left: -19px;
}
.header .options .button-tweet {
	background-color: blueviolet;
	color: #fff;
	border: none;
	border-radius: 30px;
	padding: 6px 20px;
	cursor: pointer;
}

.user-tweet img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	margin-right: 15px;
}

.img-user {
	cursor: pointer;
}
.img-user img {
	width: 32px;
	height: 32px;
    border-radius: 50%;
	margin-right: 28px;
}
.img-user .menu ul li:last-child {
	border: none;
}
.img-user .menu {    
	color: darkgray;
    font-size: 14px;
    min-width: 100px;
    border: 1px solid darkgray;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
	float: left;
	margin-top: 5px;
	z-index: 999;
}
.img-user .menu ul {
	margin: 0;
}
.img-user .menu ul li {
	list-style-type: none;
	border-bottom: 1px solid darkgray;
	padding: 5px 6px;
	transition: background-color 1s, color 1s;
}
.img-user .menu ul li:hover {
	background-color: #ba86ea;
	color: #fff;
}

.container {
	display: flex;
	flex:1;
}

.content {
	flex: 1;
}
.content .content-body {
	display: flex;
    flex-direction: column;
    padding: 15px 30px;
    overflow-y: auto;
}
.content .card {
	color: #444;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #dce1e8;
	-webkit-box-shadow: 0 1px 0px 0 #cfcfd6;
    box-shadow: 0 1px 0px 0 #cfcfd6;
	margin-bottom: 15px;
	padding: 15px;
	display: flex;
	flex-direction: row;
}
.content .card .title h1 {
	font-size: 14px;
	font-weight: normal;
}
.content .card .title h1 span {
	font-weight: bold;
}
.content .card .message p {
	margin-top: 5px;
    font-size: 16px;
}

.notfound {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.notfound .error {
	display: flex;
	flex-direction: row;
	align-self: center;
}
.notfound .error h1 {
	font-size: 170px;
}
.notfound h2 {
	font-size: 25px;
}
.notfound img {
	width: 180px;
	height: 180px;
	animation: spin 10s linear infinite; 
}
.notfound button {
	width: 180px;
	align-self: center;
}

.ok-button {
	background-color: blueviolet;
	color: #fff;
	border: 1px solid blueviolet;
	border-radius: 30px;
	padding: 5px 15px;
	cursor: pointer;
}

@keyframes spin {
    from {transform: rotate(0deg);  }
    to {transform: rotate(360deg);  }
}

.img-perfil {
	width: 100px;
	height: 100px;
	margin-right: 30px;
}
.img-perfil img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.perfil {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}